<!DOCTYPE html>
<html>
  <head>
    <title>ActionCableChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= button_to("Logout", destroy_user_session_path, :method => :delete, 
      class: 'btn btn-warning', id: 'log-out-btn') %>
    <% end %>
    <div class='container-fluid'>
      <%= yield %>
    </div>
  </body>
</html>
